html,body {
	margin:0;
	padding:0;
	height: 100%;
	width: 100%;
}

body{
	background-color: rgb(230,231,232);
	font-family: Helvetica, Arial, sans-serif;
}

#topbar{
	margin-top: 0px;
	height : 5%;
	width : 100%;
	background-color: rgb(241,242,242);
}

#topbar #languages{

}


#topbar #account{
	margin-top: 0;
	/*font-size: 100%;*/
	width : 7%;
	height: 100%;
	border : 1px black solid;
	float : right;

}


#topbar #account p{
	margin-top: 0;
	padding-top: 50%;
	text-align: center;
	border: 1px black solid;
	
}

#topbar #panier{
	margin-top : 0;
	float : right;
	height: 100%;
	width: 5%;
	border: 1px solid black;
}

#topbar #panier img{
	height: 100%;
}
