/*
.______       _______     _______. _______ .___________.
|   _  \     |   ____|   /       ||   ____||           |
|  |_)  |    |  |__     |   (----`|  |__   `---|  |----`
|      /     |   __|     \   \    |   __|      |  |     
|  |\  \----.|  |____.----)   |   |  |____     |  |     
| _| `._____||_______|_______/    |_______|    |__|     
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


/* 
  _______  _______ .__   __.  _______ .______          ___       __      
 /  _____||   ____||  \ |  | |   ____||   _  \        /   \     |  |     
|  |  __  |  |__   |   \|  | |  |__   |  |_)  |      /  ^  \    |  |     
|  | |_ | |   __|  |  . `  | |   __|  |      /      /  /_\  \   |  |     
|  |__| | |  |____ |  |\   | |  |____ |  |\  \----./  _____  \  |  `----.
 \______| |_______||__| \__| |_______|| _| `._____/__/     \__\ |_______|
*/

body{
  min-height: 100%;
  font-family: "Helvetica Neue";
}

a:visited{
  text-decoration: none;
}
a{
  color: black;
}

div{
  font-family: "Helvetica Neue";
  font-weight: 100;
}
p{
  font-family: "Helvetica Neue";
  font-weight: 100;
}



/*
.___________.  ______   .______   .______        ___      .______      
|           | /  __  \  |   _  \  |   _  \      /   \     |   _  \     
`---|  |----`|  |  |  | |  |_)  | |  |_)  |    /  ^  \    |  |_)  |    
    |  |     |  |  |  | |   ___/  |   _  <    /  /_\  \   |      /     
    |  |     |  `--'  | |  |      |  |_)  |  /  _____  \  |  |\  \----.
    |__|      \______/  | _|      |______/  /__/     \__\ | _| `._____|                                                                   
*/

.Top_Bar {
  position: absolute;
  background-color: rgb(238,238,238);
  left: 0px;
  top: 0px;
  width: 100%;
  height : 5%;
  min-height: 50px;
}  


.Top_Bar #Panier {
  font-size: 24px;
  font-family: "Myriad Pro";
  color: rgb( 255, 255, 255 );
  position: absolute;
  right: 10px;
  top: 10px;
  width: 20px;
  z-index: 48;
}

.Top_Bar #Panier img{
width: 20px;

}


  .Top_Bar #Pays {
  font-family: "Helvetica Neue";
  color: rgb( 209, 211, 212 );
  position: absolute;
  top: 10px;
  left: 5px;
  width: 40px;
  min-height: 30px;
}

  .Top_Bar #Pays img{
  width: 40px;
  min-height: 30px;
}

.Top_Bar #Texte_de_connexion {
  position: absolute;
  right: 5%;
  min-height: 30px;
}


.Top_Bar #Reseaux_sociaux {
  position: absolute;
  left: 60px;
  top: 12px;
  min-height: 30px;
}
.Top_Bar #Reseaux_sociaux img{
  width:20px;
}

.Top_Bar #Rechercher {
  position: absolute;
  left: 42%;
  top: 10px;
  width: 40%;
  height: 32px;
  z-index: 50;
}

.Top_Bar #Rechercher input{
  display:block;
  float:left;
  width:155px;
  margin:0 5px 0 0;
  padding:5px;
  color:#565656;
  background-color:rgb(217,217,217);
  border:1px solid #C3C3C3;
  font-size:12px;
  }
.Top_Bar #Rechercher #go{
  width:50px;
  height:26px;
  margin:0;
  padding:4px 0;
  text-transform:uppercase;
  color:#FFFFFF;
  background-color:#565656;
  border-color:#C3C3C3;
  cursor:pointer;
  font-weight:bold;
  }

.Top_Bar #btnValider{
  font-family: "Helvetica Neue";
  font-weight: 100;
}

  .Top_Bar #Texte_de_connexion {
  z-index: 10;
  position: absolute;
  right: 60px;
  top: 15px;
  min-height: 30px;
  color : #565656;
  font-family : "Helvetica Neue";
  font-weight: 100;
}
.Top_Bar #Texte_de_connexion a{
  color : #565656;
  font : Helvetica;
}

/*
.______     ______    _______  ____    ____ 
|   _  \   /  __  \  |       \ \   \  /   / 
|  |_)  | |  |  |  | |  .--.  | \   \/   /  
|   _  <  |  |  |  | |  |  |  |  \_    _/   
|  |_)  | |  `--'  | |  '--'  |    |  |     
|______/   \______/  |_______/     |__|  

*/

.Contenu {
  float: left;
  margin-left: 5%;
  left: 5%;
  right: 5%;
  width: 90%;
  margin-top: 5%;
  margin-bottom: 50px;
  background-color: rgb(199,200,202);
}

#femme, #homme{
  position: relative;
  float: left;
  width: 42%;
  height: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
  z-index: 1;
}
#femme{
    margin-left: 5%;

}
#homme{
  margin-left: 6%;
}

#femme img{
  position: relative;
  float:left;
  z-index: 1;
  width: 100%;
}



#homme img{
  position: relative;
  float:left;
  width: 100%;
}

#logo {
  background-repeat: repeat;
  position: absolute;
  float: center;
  width: 90%;
  margin-top: 25%;
  height: 20%;
  max-height: 85px;
  color: black;
  font-size: 7vw;
  z-index: 2;
}

#logo img{
  width: 25%
}

#logo #GLH{
  width: 90%;
  position: absolute;
  margin-left: 5%;
}

#femmeNom{
  position: absolute;
  margin-left: 10%;
}

#hommeNom{
  position: absolute;
  margin-left : 57%;
}

.ASavoir {
  position: relative;
  font-family: "Helvetica Neue";
  font-weight: 100;
  font-size:150%;
  color: black;
  width: 90%;
  left: 5%;
}

.ASavoir img{
  width: 100%;
  border:2px solid rgb(238,238,238);

}

.Montre{
  position: relative;
  float:left;
  left: 0px;
  top: 50px;
  margin-left: 5%;
  width: 25%;
}

.Produit1{
  position: relative;
  font-family: "Helvetica Neue";
  font-weight: 100;
  color: black;
  width: 100%;
}

.Gants{
  position: relative;
  float:left;
  top: 50px;
  margin-left: 5%;
  width: 25%;
}

.Produit2{
  position: relative;
  font-family: "Helvetica Neue";
  font-weight: 100;
  color: black;
}

.Portefeuille{
  position: relative;
  float:left;
  top: 50px;
  width: 100%;
  margin-left: 5%;
  width: 25%;
}

.Produit3{
  position: relative;
  font-family: "Helvetica Neue";
  font-weight: 100;
  color: black;
}

/*
 __        ______     _______   ______      .___________.  ______   .______   
|  |      /  __  \   /  _____| /  __  \     |           | /  __  \  |   _  \  
|  |     |  |  |  | |  |  __  |  |  |  |    `---|  |----`|  |  |  | |  |_)  | 
|  |     |  |  |  | |  | |_ | |  |  |  |        |  |     |  |  |  | |   ___/  
|  `----.|  `--'  | |  |__| | |  `--'  |        |  |     |  `--'  | |  |      
|_______| \______/   \______|  \______/         |__|      \______/  | _| 

*/

.LogoTop {
  display: inline-block;
  position: relative;
  text-align: center;
  top: 60px;
}

.LogoTop #logoCat{

margin: auto;
float: center;
width: 30%;
}

.LogoTop img{
  position: relative;
  height: 15%;
}

.LogoTop h1{
  position: relative;
  font-size:150%;
  width: 100%;

} 

/*
  ______     ___   .___________. _______   _______   ______   .______     ____    ____ 
 /      |   /   \  |           ||   ____| /  _____| /  __  \  |   _  \    \   \  /   / 
|  ,----'  /  ^  \ `---|  |----`|  |__   |  |  __  |  |  |  | |  |_)  |    \   \/   /  
|  |      /  /_\  \    |  |     |   __|  |  | |_ | |  |  |  | |      /      \_    _/   
|  `----./  _____  \   |  |     |  |____ |  |__| | |  `--'  | |  |\  \----.   |  |     
 \______/__/     \__\  |__|     |_______| \______|  \______/  | _| `._____|   |__|     
                                                                                   
*/


.ariane h2{
position: absolute;
  font-family: "Helvetica Neue";
  font-weight: 100;
  font-size:80%;
  color: rgb(180, 180, 180);
  width: 90%;
  left: 5%;
  height: 7%;
  top:35%;
}

.ImageCategroy {
  position: relative;
}

.ImageCategroy img{
  position: relative;
  margin-top:2%;
  width: 90%;
  height: auto;
}

#conteneur{
  position: relative;
  margin-top: 85px;
  margin-left: 5%;
}

#conteneur .Category {
position: relative;
width: 15%;
float: left;
padding: 10px;
background-color: rgb(238,238,238);

}

#conteneur .Category h1{
  font-family: "Helvetica Neue";
  font-weight: 100;
  font-size:150%;
  color: black;
  width: 0%;
  margin-left: 0%;
}

#conteneur .Category .CategoryList1{
  position: relative;
  text-align: left;
  margin-top: 2%;
  margin-left: 10%;
}

#conteneur .Category .CategoryList1 li{
  position: relative;
  list-style-type: none;
  font-family: "Helvetica Neue";
  font-weight: 100;
  font-size:100%;
  color: black;
}

#conteneur .Category li:before {
  position: relative;
  content: "- ";
}

#conteneur .Category .CategoryList2{
  position: relative;
  text-align: left;
  margin-top: 2%;
  width: 100%;
  margin-left: 10%;
  
}

#conteneur .Category .CategoryList2 li{
  position: relative;
  list-style-type: none;
  font-family: "Helvetica Neue";
  font-weight: 100;
  font-size:100%;
  color: black;
}
    
#conteneur .ProduitsHommes{
  position:relative;
  float:left;
  margin-left: 5%;
  padding-top: 10px;
  width: 70%;
}

#conteneur .ProduitsHommes .NomHomme h1{
  font-family: "Helvetica Neue";
  font-weight: 100;
  font-size:150%;
  color: black;
  margin-left: 2.5%;

}

#conteneur .ProduitsHommes img{
  position:relative;
  float:left;
  border:solid 1px rgb(238,238,238); 
  width:40%;
  margin-top: 0%;
  margin-right: 10%;
}

#conteneur .ProduitsHommes .Produit{
  position: relative;
  font-family: "Helvetica Neue";
  font-weight: 100;
  color: black;
  width: 40%;
  text-align: center;
}

/*
 _______   ______   .______      .___  ___. 
|   ____| /  __  \  |   _  \     |   \/   | 
|  |__   |  |  |  | |  |_)  |    |  \  /  | 
|   __|  |  |  |  | |      /     |  |\/|  | 
|  |     |  `--'  | |  |\  \----.|  |  |  | 
|__|      \______/  | _| `._____||__|  |__|

*/

#signup_form{
  position: relative;
  border : 1px rgb(238,238,238);
  height: 20%;
  width: 30%;
  margin-top: 10%;
  border : 5px solid rgb(238,238,238);
}
#signup_form #myButton {
  position: relative;
  display:block;
  margin:1 5px 0 0;
  color:black;
  background-color: rgb(238,238,238);
  border:1px solid rgb(238,238,238);
  font-family: "Helvetica Neue";
  font-weight: 100;
  width: 30%;
}
#signup_form #new_client{
  font-family: "Helvetica Neue";
  font-weight: 100;
  color: black;
  width: 100%;
  text-align: center;
  background-color: rgb(238,238,238);

}

#signup_form label{
    display: block;
    width: 50%;
    float: left;
}

#signup_form input {
  padding: 5px;
}

#signup_form select[name="pays"]{
  padding: 5px;
}

#signup_form hr{
  height:1px;
  color: 1px solid rgb(238,238,238);
  background-color: rgb(238,238,238);
  border: 0;
}




/*
.______   .______        ______    _______   __    __   __  .___________.
|   _  \  |   _  \      /  __  \  |       \ |  |  |  | |  | |           |
|  |_)  | |  |_)  |    |  |  |  | |  .--.  ||  |  |  | |  | `---|  |----`
|   ___/  |      /     |  |  |  | |  |  |  ||  |  |  | |  |     |  |     
|  |      |  |\  \----.|  `--'  | |  '--'  ||  `--'  | |  |     |  |     
| _|      | _| `._____| \______/  |_______/  \______/  |__|     |__|     
 
*/

.ficheproduit {
  position : relative;
  top:45%;
  width:100%;

}
.ficheproduit #previews {
top:65%;
position:relative;
width:100%;
height : 100%;


}


.ficheproduit #previews .previews2 {

margin: 0 auto;
position:relative;
width: 45%;
float : center;
height:100%;
z-index: 0;

}

.ficheproduit #previews .previews1 {

  width: 25%;
  position: absolute;
  top: 0;
  z-index: 1;
  left: 0;
  top:22%;

}

.ficheproduit #previews .previews3 {

 width: 25%;
  position: absolute;
  top: 0;
  z-index: 1;
  right: 0;
  top:22%;

}

.ficheproduit #previews .previews2 img{
  width:100%;
  border: 1px rgb(190, 189, 189) solid;
}


.ficheproduit #previews .previews1 img{
  border: 2px rgb(238,238,238) solid;
  opacity:0.5;
  width:100%;
  
}

.ficheproduit #previews .previews3 img{
  border: 2px rgb(238,238,238) solid;
  opacity:0.5;
  width:100%;

}


.ficheproduit #previews .previews2 .ajout{
  width:175px;
  height:20px;
  margin-top:-40px;
  padding:4px 0;
  text-transform:uppercase;
  color:#FFFFFF;
  background-color:#565656;
  cursor:pointer;
  border: 2px rgb(238,238,238) solid;
  text-align:center;
  float:right;
  z-index: 1;
position:relative;
}

.ficheproduit #previews .ajout a{
  color:white;
  position:relative;

}

.ficheproduit #previews .prodfeat1 {
width:15%;
 position: absolute;
  top: 100%;
  z-index: 1;
  left: 0;
}

.ficheproduit #previews .prodfeat2 {
width:15%; 
position: absolute;
  top: 100%;
  z-index: 1;
  left: 17%;

}

/* Don't forget to include a CSS reset file otherwise it might look a little bit strange*/
#wrapper #tabs a:active,a:focus {
        outline: expression(hideFocus='true');
}

p {
        margin-bottom: 20px;
}

#wrapper {

        width: 100%;
        height:40%;
        margin: 0 auto;
        margin-top: 30%;
        background-color: rgb(238,238,238);
        position:relative;
}

#wrapper #tabs {
        top:10%;
        position:relative;
}
#tabs p {
        color:#565656;
}
#tabs,#tabs2,#tabs3,#tabs4,#tabs5 {
        width: 45%;
        margin: 0 auto;
        margin-bottom: 40px;
}

#tabs li,#tabs2 li,#tabs3 li,#tabs4 li,#tabs5 li {
        float: left;
        margin-right: 2px;
}

#tabs li a,#tabs2 li a,#tabs3 li a,#tabs4 li a,#tabs5 li a {
        display: block;
        padding: 8px 25px;
        background: #7A7878;
        text-decoration: none;
        color: #ffffff;
}

#tabs li a:hover,#tabs2 li a:hover,#tabs3 li a:hover,#tabs4 li a:hover,#tabs5 li a:hover {
        background: #565656;
}

#tabs_container {
        padding: 40px;
        overflow: hidden;
        position: relative;
        background: white;
}

#tabs_container div {
        margin-right: 40px;
}

.transition {
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;

        -webkit-transition-delay: .3s;
        -moz-transition-delay: .3s;
        -o-transition-delay: .3s;
        -ms-transition-delay: .3s;
        transition-delay: .3s;
}

.make_transist {
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
}

.hidescale {
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -o-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        filter: alpha(opacity=0);
        opacity: 0;
}

.showscale {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        opacity: 1;

        -webkit-transition-delay: .3s;
        -moz-transition-delay: .3s;
        -o-transition-delay: .3s;
        -ms-transition-delay: .3s;
        transition-delay: .3s;
}

.hideleft {
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
}

.showleft {
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -o-transform: translateX(0px);
        -ms-transform: translateX(0px);
        transform: translateX(0px);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        opacity: 1;

        -webkit-transition-delay: .3s;
        -moz-transition-delay: .3s;
        -o-transition-delay: .3s;
        -ms-transition-delay: .3s;
        transition-delay: .3s;
}

.hidescaleup {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
}

.showscaleup {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        opacity: 1;

        -webkit-transition-delay: .3s;
        -moz-transition-delay: .3s;
        -o-transition-delay: .3s;
        -ms-transition-delay: .3s;
        transition-delay: .3s;
}

.hideflip {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;

        -webkit-transform: rotatey(-90deg) scale(1.1);
        -moz-transform: rotatey(-90deg) scale(1.1);
        -o-transform: rotatey(-90deg) scale(1.1);
        -ms-transform: rotatey(-90deg) scale(1.1);
        transform: rotatey(-90deg) scale(1.1);

        -webkit-transform-origin: 50% 50%;
        -moz-transform-origin: 50% 50%;
        -o-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
}

.showflip {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        opacity: 1;

        -webkit-transition-delay: .3s;
        -moz-transition-delay: .3s;
        -o-transition-delay: .3s;
        -ms-transition-delay: .3s;
        transition-delay: .3s;

        -webkit-transform: rotatey(0deg) scale(1);
        -moz-transform: rotatey(0deg) scale(1);
        -o-transform: rotatey(0deg) scale(1);
        -ms-transform: rotatey(0deg) scale(1);
        transform: rotatey(0deg) scale(1);

        -webkit-transform-origin: 50% 50%;
        -moz-transform-origin: 50% 50%;
        -o-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
}

.tabulous_active {
        background: white !important;
        color: #565656 !important;
}

.tabulousclear {
        display: block;
        clear: both;
}



/*
 __        ______     _______  __  .__   __. 
|  |      /  __  \   /  _____||  | |  \ |  | 
|  |     |  |  |  | |  |  __  |  | |   \|  | 
|  |     |  |  |  | |  | |_ | |  | |  . `  | 
|  `----.|  `--'  | |  |__| | |  | |  |\   | 
|_______| \______/   \______| |__| |__| \__| 
*/


#warning_message{
  position: relative;
  background-color: red;
  border : 1px solid red;
  opacity: 0.7;
  height: 20%;
  width: 30%;
  margin-top: 10%;
  margin-bottom: -10%;
}


#login_form{
  position: relative;
  border : 1px solid rgb(238,238,238);
  height: 20%;
  width: 30%;
  margin-top: 10%;

}

#login_form h1{
  background-color: rgb(238,238,238);
  font-family: "Helvetica Neue";
  font-weight: 100;
  width: 100%;
  position: relative;
}


#login_form a{
  height: 20%;
  width: 30%;
  margin-top: 10%;
}

#login_form input{
  padding:5px;
}

#login_form #myButton {
  position: relative;
  display:block;
  margin:1 5px 0 0;
  color:black;
  background-color: rgb(238,238,238);
  border:1px solid rgb(238,238,238);
  font-family: "Helvetica Neue";
  font-weight: 100;
  width: 50%;
}

#warning_message{
  background-color: red;
  border : 1px solid red;
  opacity: 0.7;
  margin-top: 10%;
}


/*
     ___       _______  .___  ___.  __  .__   __. 
    /   \     |       \ |   \/   | |  | |  \ |  | 
   /  ^  \    |  .--.  ||  \  /  | |  | |   \|  | 
  /  /_\  \   |  |  |  ||  |\/|  | |  | |  . `  | 
 /  _____  \  |  '--'  ||  |  |  | |  | |  |\   | 
/__/     \__\ |_______/ |__|  |__| |__| |__| \__|
*/
#menu{
  position: relative;
  padding: 5%;
}

/*
 __    __       _______. _______ .______      
|  |  |  |     /       ||   ____||   _  \     
|  |  |  |    |   (----`|  |__   |  |_)  |    
|  |  |  |     \   \    |   __|  |      /     
|  `--'  | .----)   |   |  |____ |  |\  \----.
 \______/  |_______/    |_______|| _| `._____|

*/

#account_home h2{
  position: relative;
  font-family: "Helvetica Neue";
  font-weight: 100;
  width: 15%;
  margin-top: 10%;
  margin-left: 5%;
  z-index: 1;
}

#menu_account{
  position: relative;
  background-color: rgb(238,238,238);
  border:1px solid rgb(238,238,238);
  float:left;
  height: 200px;
  width: 20%;
  margin-top: 1%;
  margin-left: 5%;
  z-index: 1;
}

#menu_account .ProfilUser h3{
  font-family: "Helvetica Neue";
  font-weight: 100;
  margin-left: 5%;
  margin-top: 5%;
}

#menu_account .ProfilUser li{
  list-style-type: none;
  font-family: "Helvetica Neue";
  font-weight: 100;
  margin-left: 10%;
}

#menu_account .ProfilUser li:before {
  position: relative;
  content: "- ";
}

#menu_account .CommandesUser h3{
  font-family: "Helvetica Neue";
  font-weight: 100;
  margin-left: 5%;
  margin-top: 5%;
}

#menu_account .CommandesUser li{
  list-style-type: none;
  font-family: "Helvetica Neue";
  font-weight: 100;
  margin-left: 10%;
}

#menu_account .CommandesUser li:before {
  position: relative;
  content: "- ";
  font-family: "Helvetica Neue";
  font-weight: 100;
}

#message_home{
  position: relative;
  background-color: rgb(238,238,238);
  border:1px solid rgb(238,238,238);
  float:left;
  height:200px;
  width: 50%;
  margin-top: 1%;
  margin-left: 5%;
  z-index: 1;
  font-family: "Helvetica Neue";
  font-weight: 100;
}



/*
  ______     ___      .______     .___________.
 /      |   /   \     |   _  \    |           |
|  ,----'  /  ^  \    |  |_)  |   `---|  |----`
|  |      /  /_\  \   |      /        |  |     
|  `----./  _____  \  |  |\  \----.   |  |     
 \______/__/     \__\ | _| `._____|   |__| 

*/

.CartTop{
  position: relative;
  height: 80px;
  width: 100%;
  margin-top: 5%;
  z-index: 0;
}

.CartTop .Panier1 {
  position: relative;
  background-color: rgb(238,238,238);
  border:1px solid rgb(238,238,238);
  float:left;
  height: 69%;
  width: 15%;
  margin-top: 1%;
  margin-left: 8%;
  z-index: 1;
}

.CartTop .Panier1 .Panier1Nom{
  position: absolute;
  text-align: center;
  color:black;
  font-family: "Helvetica Neue";
  font-weight: 100;
  width: 100%;
  margin-top: 9%;
  height: 31%;
  z-index: 2;
  float: left;
}

.CartTop .MesInformations1{
  position: relative;
  background-color: rgb(155,155,155);
  border:1px solid rgb(155,155,155);
  float:left;
  height: 69%;
  width: 15%;
  margin-top: 1%;
  margin-left: 8%;
  z-index: 1;
}

.CartTop .MesInformations1 .MesInformations1Nom{
  position: absolute;
  text-align: center;
  color:black;
  font-family: "Helvetica Neue";
  font-weight: 100;
  width: 100%;
  margin-top: 9%;
  height: 31%;
  z-index: 2;
  float: left;
}

.CartTop .Livraison1{
  position: relative;
  background-color: rgb(238,238,238);
  border:1px solid rgb(238,238,238);
  float:left;
  height: 69%;
  width: 15%;
  margin-top: 1%;
  margin-left: 8%;
  z-index: 1;
}

.CartTop .Livraison1 .Livraison1Nom{
  position: absolute;
  text-align: center;
  color:black;
  font-family: "Helvetica Neue";
  font-weight: 100;
  width: 100%;
  margin-top: 9%;
  height: 31%;
  z-index: 2;
  float: left;
}

.CartTop .Paiement1{
  position: relative;
  background-color: rgb(238,238,238);
  border:1px solid rgb(238,238,238);
  float:left;
  height: 69%;
  width: 15%;
  margin-top: 1%;
  margin-left: 8%;
  z-index: 1;
}

.CartTop .Paiement1 .Paiement1Nom{
  position: absolute;
  text-align: center;
  color:black;
  font-family: "Helvetica Neue";
  font-weight: 100;
  width: 100%;
  margin-top: 9%;
  height: 31%;
  z-index: 2;
  float: left;
}

.PanierNom2{
  position: absolute;
  text-align: left;
  color:rgb(105, 103, 103);
  font-family: "Helvetica Neue";
  font-weight: 100;
  width: 90%;
  margin-top: 3%;
  margin-left:5%;
  height: 5%;
  z-index: 2;
}

.BarrePanier{
  
  
}



/*
 _______   ______     ______   .___________. _______ .______      
|   ____| /  __  \   /  __  \  |           ||   ____||   _  \     
|  |__   |  |  |  | |  |  |  | `---|  |----`|  |__   |  |_)  |    
|   __|  |  |  |  | |  |  |  |     |  |     |   __|  |      /     
|  |     |  `--'  | |  `--'  |     |  |     |  |____ |  |\  \----.
|__|      \______/   \______/      |__|     |_______|| _| `._____|
                                                                  
*/

.PreFooter{
  font-family: "Helvetica Neue";
  font-weight: 100;
  width: 100%;
  position: relative;
  margin-top:  50px;
  float: left;
}
.PreFooter table{
  margin: auto;
  border-collapse: separate;
  border-spacing: 20px;
    *border-collapse: expression('separate', cellSpacing = '20px');
}
.PreFooter img{
  width: 80%;
}

.Footer{
  height: auto;
  background-color: rgb(217,217,217);
  bottom: 0px;
  float: left;
  margin-top: 5%;
  clear: both;
}

.Footer hr{
  width: 80%;
}
.Footer h1{
  text-align: center;
}

.Footer #text{
  display: inline-block;
  width: 50%;
}


.Footer #Ceinture{
  position: relative;
  float: left;
  width: 50%;
  margin-left: -1px;
  z-index: 1;
  margin-bottom: -3px; 
}

.Footer #APropos{
  position: relative;
  text-align: justify;
  float: left;
  width: 40%;  
  padding-top: 50px;
  z-index: 1;

}


.Footer #Contact{
  position: relative;
  text-align: justify;
  float: left;
  width: 50%;
  padding-top: 50px;
  margin-left: 5%;
  z-index: 1;

}

.Footer #Contact img{
  width: 100%;
  z-index: 1;

}

.Footer #CGU{
    position: relative;
    z-index: 2;
    text-align: center;
}



/*
     _______..______    _______   ______  __   _______  __    ______ 
    /       ||   _  \  |   ____| /      ||  | |   ____||  |  /      |
   |   (----`|  |_)  | |  |__   |  ,----'|  | |  |__   |  | |  ,----'
    \   \    |   ___/  |   __|  |  |     |  | |   __|  |  | |  |     
.----)   |   |  |      |  |____ |  `----.|  | |  |     |  | |  `----.
|_______/    | _|      |_______| \______||__| |__|     |__|  \______|
                                                                     
*/

@media (max-height: 420px ){
  .Contenu {
    top: 60px;
  }
}

@media (min-height: 421px){
  .Contenu {
    top: 15%;
  }
}


@media (min-width: 768px) {
 .Top_Bar #Texte_de_connexion {
    display: inline;
  }
}


@media (max-width: 768px) and (min-width: 431px) {
  #btnValider{
    display: none;
  }
  .Top_Bar #Texte_de_connexion {
    display: inline;
  }
.ASavoir{

    margin-top: 80%;
  }
  #APropos{
    display: none;
  }
}


@media (max-width: 430px) {
.Top_Bar #Texte_de_connexion {
    display: none;
  }
.Top_Bar #inputSearch {
  width: 50px;
}

.Top_Bar #Rechercher {
  width: 60px;
  left: 65%;
}

  #btnValider{
    display: none;
  }
    #APropos{
    display: none;
  }
}

/*
 _______ .__   __.  _______  
|   ____||  \ |  | |       \ 
|  |__   |   \|  | |  .--.  |
|   __|  |  . `  | |  |  |  |
|  |____ |  |\   | |  '--'  |
|_______||__| \__| |_______/ 

*/
.navadmin {
  width:15%;
  height:100%;
  background-color:#313131;
  z-index:-1;
}

.navadmin .logo {
  width: 100px;
  height: 100px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  background-color:#ffffff;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  z-index:1;
  top:15%;
  text-align: center;
  vertical-align:middle;
  position:relative;
  }

  .navadmin .logo img{
    width:80px;
    height:80px;
     
        
         }

